# configurar el entorno de OpenTelemetry /etc/profile.d/opentelemetry.sh

export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
export OTEL_SERVICE_NAME="{{ redmine_otel_service_name }}"
export OTEL_RESOURCE_ATTRIBUTES="deployment.environment={{ redmine_environment }}"
